
<p>Hello <%= @resource.email %>!</p>

<p>
  Reset token: <%= @token %>
</p>

<p>If you didn't request this, please ignore this email.</p>
<p>
  Your password won't change until you create a new one.
</p>